<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!-- BEGIN DIV FOR OVERALL BOX -->
<div id="resume">
<!-- THIS DIV CENTERS OUR HEADING -->
<div id="topinfo">
<p>
</p>

</br>
<h1>Fadhlan Hazmi</h1>
<h2>Ilmu Komputer UI 2016</h2>
<br />
<!-- END CENTERING DIV -->
</div>

<h2>Profile</h2>
<p>
I am a second year computer science student in University of Indonesia. I have learned several programming
language in college, such as java, python and others but not in college. In college I joined BEM in the 
science departement. That was a brief history in my college.
</p>
<br />
<h2>Education</h2>
<h3>SD Al-Azhar 13 Rawamangun
<br /></h3>
<p>
Graduating June 2010
</p>
<ul>
</ul>
<h3>SMP Al-Azhar 12 Rawamangun</h3>
<p>
Graduating June 2013
</p>
<ul>
</ul>
<h3>SMAN 12 Jakarta</h3>
<p>
Graduating June 2016
</p>
<ul>
</ul>
<h3>Fasilkom UI</h3>
<p>
Expected to graduate January 2020

<br />
<h2>Related Experience</h2>
<h3>SMAN 12 Jakarta</h3>
<p>
Anggota rohis SMAN 12
</p>
<ul>
</ul>
<h3>Fasilkom UI</h3>
<p>
Anggota BEM Keilmuan
</p>
<ul>
</ul>

<!-- THIS DIV CENTERS OUR LINKS -->
<div id="bottom">
<p>
</p>
</div>
<!-- END CENTERING LINKS -->

<!-- END DIV FOR OVERALL BOX -->
</div>
</body>
</html>
